body {
	background-color: black;
}

#main-sections {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	height: 100vh;
}

#both-headers {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#main-header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: maroon;
	font-family: "Copperplate", fantasy;, serif;
	font-size: 40px;
	padding: 40px;
	font-weight: bold;
	border: white 3px solid;
}

#message-area{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: maroon;
	border: white 3px solid;
}

#messagecontent{
	font-family: "Copperplate", fantasy;, serif;
	font-size: 30px;
}

#player-and-dealer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	gap: 10px;
	flex: 1;
}

#dealer{
	background-image: linear-gradient(to bottom right, darkgreen, black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: white 3px solid;
	gap: 5px;
	align-items: stretch;
	flex: 2;
}

#player{
	background-image: linear-gradient(to bottom right, darkgreen, black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: white 3px solid;
	gap: 5px;
	align-items: stretch;
	flex: 3;
}

.player-or-dealer-header{
	font-family: "Copperplate", fantasy;, serif;
	font-size: 20px;
	background-color: brown;
	display: flex;
	justify-content: center;
	border: black 3px solid;	
	margin: 10px;
}

#dealer-card-holder{
	background-color: forestgreen;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border: black 3px solid;
	margin: 10px;
	flex: 1;
}

.cards{
	display: flex;
	flex-direction: row;
	gap: 5px;
}

#cards-and-actions{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex: 1;
}

#player-card-holder{
	background-color: forestgreen;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border: black 3px solid;
	margin: 10px;
	flex: 4;
}

#actions{
	background-color: forestgreen;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: black 3px solid;
	flex: 1;
	margin: 10px;
}

.action-button{
	background-color: brown;
	font-family: "Copperplate", fantasy;, serif;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: black 2px solid;
	margin: 10px;
}

.dealercard{
	width: 125px;
	height: 200px;
}

.playercard{
	width: 150px;
	height: 225px;
}

.score-box{
	background-color: brown;
	border: black 3px solid;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#userscoretext, #dealerscoretext{
	font-family: "Copperplate", fantasy;, serif;
	font-size: 20px;
}

#dealerwon, #userwon{
	font-family: "Copperplate", fantasy;, serif;
	font-size: 20px;
}